$grid-bg-color: #FF6347;
$white: #FFFFFF;

$row-bg: #F2F6F9;
$column-bg: #DBE6EE;
$border-color: #999999;
$settings-bg: #E6EBEF;
$link-color: #4C4C4C;
$link-hover-color: #777777;

$add-color: #7BC828;
$add-hover-color: #588F1D;
$edit-color: #82C9FF;
$edit-hover-color: #2DA4FF;
$danger: #F52F48;
$danger-hover: #C60921;

$added-element-color: #FFFA90;
